<!DOCTYPE html>
<html>
	<head>    	
		<title> Family Giving Tree  </title>
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> 
    	<link rel="stylesheet" href="/assets/css/main.css" />
    	<link rel='stylesheet' href='/stylesheets/style.css' />
    
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.js"></script>
   <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="/elasticsearch-browser/elasticsearch.angular.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
       
  <script src= "/js/home.js"></script>

  <script src= "/services/WishesServices.js"></script>
  <script src="https://rawgit.com/rzajac/angularjs-slider/master/dist/rzslider.js"></script>
  <link rel="stylesheet" type="text/css" href="https://rawgit.com/rzajac/angularjs-slider/master/dist/rzslider.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.js"></script>
	</head>
	
    <body  ng-app="app" ng-controller="WishesController">
    <img alt="full screen background image" src="../images/water-quality6.jpg" id="full-screen-background-image" /> 
	
     <!--Start Header -->
   
	<nav class="navbar navbar-inverse navbar-fixed-top">
 		<div class="container-fluid">
    	<div class="navbar-header">
      	<span class="navbar-brand" >Family Giving Tree</span>  
    	
  	 </div>
  	<div class="navbar-collapse collapse"> 
  	 <ul class="nav navbar-nav navbar-right">
      	<li ng-click="saveInCache()"> <a href="/totalWishes">{{wishesCount}}<span class="glyphicon glyphicon-shopping-cart"></span></a></li>
    </div>
 </div>
	</nav>	
	
	<!-- Close Header -->
    
    <br><br><br><br>
	<div container>	
	<div class="well" >

		 <div class="row">
	       
			    <div>
			    
			   <div ng-view></div>
			
			    </div>
	 	   </div>
	     </div>
    </div>
    </div>
    </body>
    
      
    <!--Start Footer -->

<nav class="navbar navbar-inverse navbar-fixed-bottom">
	<div class="navbar-collapse collapse">
		<ul class="nav navbar-nav navbar-right">
			<li><a href="#about"></a></li>
	</div>
	</div>
</nav>

<!-- Close Footer -->

</html>